.DS_Store
.httr-oauth
.Ruserdata
.Rapp.history
.Rhistory
.RData
.Rproj.user
.Rprofile

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# Output files from R CMD build
/*.tar.gz

# Example code in package build process
*-Ex.R

# stuff that you don't want to track
nogit/
docs
inst/doc
